#search{
    display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-around;
  
}
#search input {
    width: 400px;
  }
  #container{
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 80%;
    border: 1px solid;
    padding: auto;

  }
  .userList{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1200px;
    border: 1px solid red;
    
    

  }
  
  .paginationBttns {
      
     color:blue;
    list-style: none;
    display: flex;
    margin: auto;
    gap: 5px;
    cursor: pointer;
    justify-content: space-around;
    width:50%;
    margin-top: 20px;
    border: 1px solid red;

  }
  .name ,.email,.role{
      width:200px;
      padding:5px

  }
  